

<div class="text-center">
    <img src="~/img/iAbout/whoweare.png" class="rounded" alt="...">

</div>

<div class="text-center">
    <img src="~/img/iAbout/whatweoffer.png" class="rounded" alt="...">
</div>

<div class="text-center">
    <img src="~/img/iAbout/inthenews.png" class="rounded" alt="...">
</div>
<div class="text-center">
    <img src="~/img/iAbout/information.png" class="rounded" alt="...">
</div>


